<section class="work-process-section space pb-0 fix">
    <div class="container-fluid">
        <div class="work-process-container-wrapper style1 space bg-theme-color2 border-radius">
            <div class="container">
                <div class="counters-area style1">
                    <div class="row gy-4">
                        {% for com in company.resum_com.all %}
                        <div class="col-md-6 col-lg-3">
                            <div class="counter">
                                <div class="counter-thumb">
                                    <img src="{{media_url}}img/icon/counterIcon1_1.svg"
                                         alt="آمار {{com.subject}}"
                                         title="{{com.title_subject}} - {{com.letter}}"
                                         loading="lazy" />
                                    <b style='font-size:50px; color:#333;'><span class="counter-number">{{com.title_subject}}</span>{{com.letter}}+</b>
                                </div>
                                <p>{{com.subject}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <hr />
                <div class="work-process">
                    <div class="row">
                        <div class="col-lg-6">
                            {% for com in company.resum_com.all %}
                            <div>{{ com.decription|safe }}</div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-6">
                            <div class="work-process-thumb wow fadeInUp" data-wow-delay="0.3s">
                                <img style='width:633px; height:633px;' src="{{media_url}}img/why-us.webp" alt="خرید کلایمر (بالابر ساختمانی)" loading="lazy" />
                            </div>
                            
                            <br>
                            <br>

                            
                            <div class="work-process-thumb wow fadeInUp" data-wow-delay="0.3s">
                                  <img style='width:633px; height:633px;' src="{{media_url}}img/why-us-2-img.webp" alt="مزایای کلایمر در پروژه‌های ساختمانی" loading="lazy" />
                            </div>
                            
                             <br>
                            <br>
                            
                            <div class="work-process-thumb wow fadeInUp" data-wow-delay="0.3s">
                                <img src="{{media_url}}img/buy-climber-main1.webp" alt="خرید کلایمر دست دوم" loading="lazy" />
                            </div>
                            
                              <br>
                            <br>
                            
                            <div class="work-process-thumb wow fadeInUp" data-wow-delay="0.3s">
                                <img src="{{media_url}}img/buy-climber-main2.webp" alt=" قیمت خرید کلایمر " loading="lazy" />
                            </div>
                              <br>
                            <br>
                            
                            <div class="work-process-thumb wow fadeInUp" data-wow-delay="0.3s">
                                <img src="{{media_url}}img/whybuy.jpeg" alt="  چرا خرید کلایمر نه گزینه های دیگر " loading="lazy" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
