

<div id="preloader" class="preloader">
    <button class="preloader-btn style2 preloaderCls"><i class="fa-solid fa-xmark"></i> لغو لودر</button>
    <div id="loader" class="et-preloader">
     <div class="animation-preloader">
      <div class="txt-loading">
      <span data-preloader-text="T" class="characters">T</span>
        <span data-preloader-text="E" class="characters">E</span>
        <span data-preloader-text="C" class="characters">C</span>
        <span data-preloader-text="H" class="characters">H</span>
        <span data-preloader-text="N" class="characters">N</span>
        <span data-preloader-text="O" class="characters">O</span>
        <span data-preloader-text="K" class="characters">K</span>
        <span data-preloader-text="L" class="characters">L</span>
        <span data-preloader-text="A" class="characters">A</span>
        <span data-preloader-text="Y" class="characters">Y</span>
        <span data-preloader-text="M" class="characters">M</span>
        <span data-preloader-text="E" class="characters">E</span>
        <span data-preloader-text="R" class="characters">R</span>

      </div>
     </div>
    </div>
   </div>
   <div class="mouse-cursor cursor-outer"></div>
   <div class="mouse-cursor cursor-inner"></div>
<div class="cursor-outer"></div>
<div class="cursor-inner"></div>
