{% load static %}
<script src="{% static 'assets/js/vendor/jquery-3.7.1.min.js' %}"></script>
<!-- Swiper Js -->
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- Wow Animation  -->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!-- Waypoint Animation  -->
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<!-- Tilt Animation  -->
<script src="{% static 'assets/js/tilt.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Counter Up -->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<!-- Nice Select -->
<script src="{% static 'assets/js/nice-select.min.js' %}"></script>
<!-- Main Js File -->
<script src="{% static 'assets/js/main1.js' %}"></script>
